.pageTitle {
  font-size: 40px;
  margin-top: 20px;
  font-family: 'Gothic A1', sans-serif;

}

.middle {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 20px;
  line-height: 2;
  font-family: 'Gothic A1', sans-serif;
}

