


h2{
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
}


.infor{
    color:gray;
}

#img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}


.modal-container {
    display: flex;
}

.modal-content {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    
  
}



.information {
    width: 20%;
    box-sizing: border-box;
    color:gray;
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    margin-top: 50px;
    font-family: 'Gowun Dodum', sans-serif;
}

.join{
    width: 50%;
    line-height: 2;
    margin-top: 50px;
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
}

#explanation {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Gowun Dodum', sans-serif;
}
