/* Dropdown.css */

ul {
  position: absolute;
  font-family: 'Gowun Dodum';
  top: 120px; 
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff; /* 디자인에 맞게 배경색을 설정하세요 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  
  z-index : 2;
}
.dropdown-container{
  z-index: 2;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f5f5f5;
}

.selected {
background-color: #3498db; /* 선택된 항목의 배경색을 변경하세요 */
color: #fff; /* 선택된 항목의 글자색을 변경하세요 */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3; /* 높은 z-index 값 설정 */
}