.filter {
    position: relative;
    display: inline-block; 
    margin-right: 50px;
}

.dropbtn {
    background-color: #3498db;
    color: white; 
    padding: 16px;
    font-size: 16px; 
    border: none; 
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
    width: 160px;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content.show {
    display: contents;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.dropdown-content label {
    text-align: left; 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    cursor: pointer;
    margin: auto;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.dropbtn:focus, .dropbtn:active {
    background-color: #2980b9;
}