.crew-container {
    position: relative;
    width: 25.5vw;
    height: 30vw;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.crewImg {
    width: 100%; 
    height: 80%; 
    display: block;
}

.crewName, .joinDate {
    padding: 8px;
    border-top: 1px solid #ddd;
    font-size: 1vw;
    height: 5%;
}