.crew-container {
    position: relative;
    width: 25.5vw; /* Adjust the width as needed */
    border: 1px solid #ddd; /* Adds a border around the card */
    border-radius: 8px; /* Optional: Rounds the corners of the card */
    overflow: hidden; /* Ensures the content fits in the card */
    background-color: #e0e0e0; /* Card background color */
}

.crewImg {
    width: 100%; /* Makes the image take the full width of the card */
    height: 80%; /* Adjusts the height automatically */
    display: block; /* Removes extra space beneath the image */
}

.crewName, .joinDate {
    padding: 8px; /* Adds padding inside the card for text */
    border-top: 1px solid #ddd; /* Adds a separator between image and text */
    font-size: 20px; /* Adjust the font size as needed */
}