/* SelectBar.css */

.submenu {
    z-index: 0;
    display: flex;
    justify-content: center; 
    width: 120px;
    padding: 10px;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 10px 10px 0px 0px;
    text-align: center; 
  
}

.submenu.focused {
    
    background-color: rgb(255, 255, 255);
    color: rgb(21, 20, 20);
}

div.desc {
    text-align: center;
}