.header {
    background-color: white;
    width: 100%;
    height: 100px;
}
#home {
    cursor:pointer;
    position: absolute;
    top: 10px;
    left : 10px;
    width : 15vw;
}

#intro1 {
    cursor:pointer;
    position: absolute;
    top: 30px;
    right: 250px;
    background-color: white;
    border: none;
    font-size: 20px;
}

#join1 {
    cursor:pointer;
    position: absolute;
    top: 30px;
    right: 100px;
    background-color: white;
    border: none;
    font-size: 20px;
}